<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <div class="cont">
        <form action="/" method="post">
            <label for="long_url">Enter the URL to shorten:</label>
            <input type="text" id="long_url" name="long_url" required>
            <input type="submit" value="Shorten">
        </form>
    </div>
    {% if short %}
    <p>Shortened URL: <span id="shortened-url">{{short}}</span></p>
    {% endif %}
</body>
</html>

